<div>
  <!-- Golden Jobs -->
  <h2 class="capitalize"><i class="fa fa-star"></i> Golden Jobs</h2>
  <div class="featured-job widget mt60">
    <div class="company">
      <img src="assets/images/companies/cloudify.svg" alt="Company Logo">
    </div>
    <div class="featured-job-info">
      <div class="job-title">
        <h5 class="uppercase pull-left">UI Designer</h5>
        <a href="#" class="btn btn-green btn-small btn-effect pull-right">Full Time</a>
      </div>
      <div class="job-info pt5">
        <span><i class="fa fa-building-o"></i> Cloudify</span>
        <span><i class="fa fa-map-marker"></i> London, UK</span>
      </div>
      <p class="mt20">
        Join our team and help us create intuitive designs that delight our users and clients. Be part of an innovative company shaping the future.
      </p>
      <div class="text-center mt20">
        <a href="#" class="btn btn-purple btn-small btn-effect">View Job</a>
      </div>
    </div>
  </div>

  <!-- Upload Resume -->
  <div class="upload-resume widget mt40 text-center">
    <h4 class="capitalize">Upload Your Resume</h4>
    <p class="mtb10">
      Upload your resume to let potential employers find you faster and get matched with the best job opportunities tailored to your skills.
    </p>
    <a href="#" class="btn btn-blue btn-effect mt10">Upload Resume</a>
  </div>
</div>
