:root {
  --color-light-blue: #ADD8E6;
  --color-teal-blue: #0096D6;
  --color-dark-blue: #003366;
  --color-yellow: #FFC300;
  --color-orange: #FF5733;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--color-light-blue);
  margin: 0;
  padding: 0;
}

section#login {
  padding: 80px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.login-box {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgb(0, 51, 102), 0 1px 3px rgb(0, 51, 102);
  padding: 20px 30px;
  transition: box-shadow 0.3s ease-in-out, transform 0.2s ease-in-out;
  padding-bottom: 30px;
  margin-bottom: 200px;
}

.login-box:hover {
  box-shadow: 0 8px 16px rgb(0, 51, 102), 0 2px 4px rgb(0, 51, 102);
  transform: translateY(-3px);
}

.login-title h4 {
  color: var(--color-dark-blue);
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}
.login-title {
  color: var(--color-teal-blue);
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}
.form-group {
  margin-bottom: 25px;
}

label {
  font-size: 16px;
  font-weight: bold;
  color: var(--color-dark-blue);
}

label::after {
  content: " *";
  font-size: 20px;
  color: var(--color-orange);
}

input,
select {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--color-teal-blue);
  border-radius: 4px;
  font-size: 14px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

input:focus,
select:focus {
  outline: none;
  border-color: var(--color-yellow);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

input[type="file"] {
  border: 2px dashed var(--color-teal-blue);
  padding: 10px;
  text-align: center;
  cursor: pointer;
}

input[type="file"]:hover {
  border-color: var(--color-orange);
}

.btn.btn-effect {
  background-color: var(--color-teal-blue);
  color: #fff;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s;
  margin-top: 20px;
}

.btn.btn-effect:hover {
  background-color: var(--color-orange);
  transform: translateY(-3px);
}

.spinner {
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 2px solid var(--color-yellow);
  border-top: 2px solid transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin-left: 10px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.text-danger {
  color: var(--color-orange);
  background: rgba(255, 87, 51, 0.1);
  padding: 10px;
  border-radius: 4px;
}

.text-success {
  color: var(--color-teal-blue);
  background: rgba(0, 150, 214, 0.1);
  padding: 10px;
  border-radius: 4px;
}

